{% extends 'base.html' %}
{% load static %}

{% block title %}Вход в систему{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/auth.css' %}">
{% endblock %}

{% block content %}
<div class="auth-card">
    <h2>Вход в систему</h2>
    <form method="post">
        {% csrf_token %}
        <div>
            <label>Email:</label>
            <input type="email" name="username" placeholder="ivan@example.com" required>
        </div>
        <div>
            <label>Пароль:</label>
            <input type="password" name="password" required>
        </div>
        <button type="submit">Войти</button>
    </form>
    <p class="auth-link">Нет аккаунта? <a href="{% url 'users:register' %}">Зарегистрироваться</a></p>
</div>
{% endblock %}